@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

a { @apply text-indigo-600; }

/* small utility for container padding */
.container-max { max-width: 72rem; margin-left: auto; margin-right: auto; }
